# Configurações do Sanity.io para o SiteRotta
# Crie seu projeto gratuitamente em https://www.sanity.io
VITE_SANITY_PROJECT_ID=seu_project_id_aqui
VITE_SANITY_DATASET=production
VITE_SANITY_API_VERSION=2024-03-01
VITE_SANITY_USE_CDN=true
